body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.header-links {
    padding: 1em 1em; 
}

.icons {
   padding: 0 1em ;
}

.header-links:hover, .icons:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 12em;
    padding-bottom: 2em;
}

.search-bar {
    display: flex;
    width: 40em;
    margin: auto;
    border: solid 1px rgb(212, 212, 212);
    border-radius: 2em;
    height: 3em;
}

.search-bar:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.15);
}

input {
    border: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    width: 36em;
}

input:focus {
    outline: none;
}

#search-icon {
    height: 2em;
    width: 2em;
    padding-top: .5em;
    padding-left: .5em;
}